.nav{
    grid-area: nav;
    background-color: cadetblue;
    padding: 20px 0 20px 70px;
}
.item a{
    color: #e6e6e6;
    text-decoration: none;


}
.item a.active{
    color: goldenrod;
}

.friends{
    margin: 40px 0 0 -30px;
    font-size: 40px;
}
